@page
@model GroupWebProject.Pages.Bookings.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].TheRoom.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].TheCustomer.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].TheCustomer.GivenName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].TheCustomer.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].CheckIn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].CheckOut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].Cost)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Booking) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TheRoom.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TheCustomer.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TheCustomer.GivenName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TheCustomer.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheckIn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheckOut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>

            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
